@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

body {
  background: #85dcbb;
}

.main-title {
  font-family: "Fjalla One", sans-serif;
}

.form-control {
  border-radius: 0;
}

.btn {
  border-radius: 0;
}

.btn-outline-success {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #1f7655;
  color: #85dcbb;
  background: #1f7655;
}

.btn-outline-info {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #00ace6;
  color: #99e6ff;
  background: #00ace6;
}

.btn-outline-danger {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #e27d60;
  color: #ffe3c6;
  background: #e27d60;
}

.btn-outline-danger:hover {
  border: 1px solid #c96447;
  background: #c96447;
  color: #ffe3c6;
}

.btn-outline-danger i {
  color: #ffcaad;
}

.list-task {
  list-style: none;
}

.list-item {
  border-bottom: 3px dashed #41b3a3;
  margin-bottom: 2.4rem;
}

.list-item-name {
  float: left;
  font-size: 24px;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}

.list-item-actions {
  float: right;
}

.sublist-item-form {
  clear: both;
}

.list-subtask {
  clear: both;
  list-style: none;
}

.sublist-item-name {
  font-size: 20px;
  font-style: italic;
  font-family: "Noto Sans", sans-serif;
  margin: 0;
}

.sublist-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 12px auto;
}

.sublist-item button {
  margin-left: auto;
  font-size: 12px;
}
